<article>
  <header>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <div class="post-meta clearfix">
      <div class="post-date pull-left">
        Posted on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "2 January, 2006" }}
        </time>
      </div>
    </div>
  </header>
  <div>
    {{ .Content }}
  </div>
  {{ if .Truncated }}
  <!--
  <footer>
    <ul class="pager">
      <li class="next"><a href="{{ .Permalink }}">Read more <span aria-hidden="true">&raquo;</span></a></li>
    </ul>
  </footer>
  -->
  {{ end }}
</article>
