{{ partial "header.html" . }}
<section class="article-list">
  <h1>{{ .Title }}</h1>
  {{ range .Data.Pages }}
  <hr/>
  {{ if (isset .Params "notablogpost") }}
  {{ else }}
  {{ .Render "li" }}
  {{ end }}
  {{ end }}
</section>
{{ partial "footer.html" . }}

